* { box-sizing: border-box; }

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.cell {
  padding: 1em;
  border: thin solid gray;

}

#panel, #flip {
  padding: 5px;
  font-size: 18px;
  text-align: center;
  background-color: #555;
  color: white;
  border: solid 1px #666;
  border-radius: 3px;
}

#panel {
  padding: 50px;
  display: none;
}


/* ALAN */
.alan-cell {
padding: 6px;
border: 4px solid black;
background-image: linear-gradient(red, yellow ,red);
}

#alan{
width: 100%;
height: 100%;
}



.white-key {
  width: 10%;
  height: 50px;
  background-color: white;
  border: 4px solid black;
  border-radius: 0 0 6px 6px;
  margin-left: -4px;
  outline: none;
  cursor: pointer;
  text-align: center;
}



.white-key.active {
  background-color: grey;
  animation: alan1 1s infinite;
  }

  @keyframes alan1 {
   0%   {border: 4px solid blue; transform: rotate(1020deg); border-radius: 20px; height: 50px; width: 10px;}
   25%  {border: 4px solid blue ; }
   50%  {border: 4px solid black; }
   75%  {border: 4px solid blue; }
   100% {border: 4px solid blue; }
  }

#Interruptor{
width: 100%;
height: 100%;
}
#ruben-cuadrado{
			width: 100px;
			height: 100px;
			background: #FFFFFF;
			border-color: #FF622C;
			border-style: solid;
			border-radius: 25px;
		}

#ruben-cuadrado2{
    			width: 100px;
    			height: 100px;
    			background: #000000;
    			border-color: #2980b9;
    			border-style: solid;
    			border-radius: 25px;
    		}


.main {
  animation: alan12 1s infinite;
  }

  @keyframes alan12 {
   0%   {border:  solid red;}
   25%  {border: solid yellow ; }
   50%  {border: solid red; }
   75%  {border: solid yellow; }
   100% {border: solid red; }
}

.main2 {
  transform: translateX(26px);
  }


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: transparent;
  border: transparent;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: grey;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}


input:checked + .slider:before {
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* FIN ALAN */

/* SAMU */
.button-samu { text-align: center;
  background-color: blueviolet;
  width: 7em;
  height: 7em;
  font-family: fantasy;
  border-radius: 50%;}

/* FIN SAMU */


/* RUBEN */

#ruben-cuadrado{
			width: 100px;
			height: 100px;
			background: #FFFFFF;
			border-color: #FF622C;
			border-style: solid;
			border-radius: 25px;
		}

#ruben-cuadrado2{
    			width: 100px;
    			height: 100px;
    			background: #000000;
    			border-color: #2980b9;
    			border-style: solid;
    			border-radius: 25px;
    		}


/* FIN RUBEN */
